In [1]:
import pandas as pd
import numpy as np

In [3]:
titles = pd.read_csv('datasets/title.basics.tsv', sep='\t', na_values='\\N')

In [4]:
ratings = pd.read_csv('datasets/title.ratings.tsv', sep='\t', na_values='\\N')

In [14]:
crew = pd.read_csv('datasets/title.crew.tsv', sep='\t', na_values='\\N')

In [43]:
cast = pd.read_csv('datasets/title.principals.tsv', sep='\t', na_values='\\N')

In [94]:
akas = pd.read_csv('datasets/title.akas.tsv', sep='\t', na_values='\\N')

In [5]:
#filter only movies
df = titles[(titles['titleType'] == 'movie')]

In [24]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
tconst,,,,,,,,
tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900.0,NaN,NaN,"Biography,Drama"
tt0000502,movie,Bohemios,Bohemios,0,1905.0,NaN,100,NaN
tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Biography,Crime,Drama"
tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907.0,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...
tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary
tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary
tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013.0,NaN,NaN,Comedy
tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,NaN
tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary

In [26]:
df.set_index('tconst', inplace=True)

KeyError: "None of ['tconst'] are in the columns"

In [28]:
ratings.set_index('tconst', inplace=True)

KeyError: "None of ['tconst'] are in the columns"

In [32]:
ratings

           averageRating  numVotes
tconst
tt0000001            5.6      1665
tt0000002            6.1       205
tt0000003            6.5      1382
tt0000004            6.2       123
tt0000005            6.2      2168
...                  ...       ...
tt9916580            7.2         5
tt9916690            6.6         5
tt9916720            6.0        67
tt9916766            6.9        15
tt9916778            7.3        24

[1096001 rows x 2 columns]

In [35]:
#merge df with ratings - left outer join
df = df.merge(ratings, left_on='tconst', right_on='tconst', how='left')

In [37]:
crew.set_index('tconst', inplace=True)

KeyError: "None of ['tconst'] are in the columns"

In [38]:
#merge df with crews - left outer join
df = df.merge(crew, left_on='tconst', right_on='tconst', how='left')

In [39]:
df

,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
tconst,,,,,,,,,,,,
tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance,6.0,154.0,nm0085156,nm0085156
tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900.0,NaN,NaN,"Biography,Drama",6.0,39.0,"nm0095714,nm0675140",NaN
tt0000502,movie,Bohemios,Bohemios,0,1905.0,NaN,100,NaN,4.7,7.0,nm0063413,"nm0063413,nm0657268,nm0675388"
tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Biography,Crime,Drama",6.1,600.0,nm0846879,nm0846879
tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907.0,NaN,NaN,Drama,4.5,14.0,nm0533958,"nm0092809,nm0533958"
...,...,...,...,...,...,...,...,...,...,...,...,...
tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015.0,NaN,57,Documentary,NaN,NaN,"nm9272490,nm9272491","nm9272490,nm9272491"
tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007.0,NaN,100,Documentary,NaN,NaN,nm0652213,"nm0652213,nm10538576"
tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013.0,NaN,NaN,Comedy,NaN,NaN,nm7764440,nm7933903
tt9916730,movie,6 Gunn,6 Gunn,0,2017.0,NaN,116,NaN,NaN,NaN,nm10538612,nm10538612
tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013.0,NaN,49,Documentary,NaN,NaN,"nm8349149,nm9272490","nm8349149,nm9272490"

In [40]:
#drop titleType and endYear columns as they are redundant
df.drop(columns=['titleType', 'endYear'], inplace=True)

In [88]:
#filter out adult movies
df = df[df['isAdult'] == 0].copy()

In [90]:
#drop isAdult column
df.drop(columns=['isAdult'], inplace=True)

In [96]:
akas[akas['titleId'] == 'tt1375666']

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
10544637,tt1375666,10,Начало,RU,NaN,imdbDisplay,NaN,0.0
10544638,tt1375666,11,Oliver's Arrow,US,NaN,NaN,fake working title,0.0
10544639,tt1375666,12,Inception,BE,NaN,imdbDisplay,NaN,0.0
10544640,tt1375666,13,Origen,ES,NaN,imdbDisplay,NaN,0.0
10544641,tt1375666,14,Inception,DE,NaN,imdbDisplay,NaN,0.0
10544642,tt1375666,15,Inception,FR,NaN,imdbDisplay,NaN,0.0
10544643,tt1375666,16,A Origem,PT,NaN,imdbDisplay,NaN,0.0
10544644,tt1375666,17,Inception,IT,NaN,imdbDisplay,NaN,0.0
10544645,tt1375666,18,Pradžia,LT,NaN,imdbDisplay,NaN,0.0
10544646,tt1375666,19,Почетак,RS,NaN,imdbDisplay,NaN,0.0
10544647,tt1375666,1,Inception,GB,NaN,imdbDisplay,NaN,0.0
10544648,tt1375666,20,Inception: The IMAX Experience,US,NaN,NaN,IMAX version,0.0
10544649,tt1375666,21,Pirmsākums,LV,NaN,imdbDisplay,NaN,0.0
10544650,tt1375666,22,Kẻ Đánh Cắp Giấc Mơ,VN,NaN,imdbDisplay,NaN,0.0
10544651,tt1375666,23,El origen,PE,NaN,imdbDisplay,NaN,0.0
10544652,tt1375666,24,Dasatskisi,GE,NaN,imdbDisplay,NaN,0.0
10544653,tt1375666,25,Talghin,IR,fa,imdbDisplay,NaN,0.0
10544654,tt1375666,26,Inception,US,en,NaN,NaN,0.0
10544655,tt1375666,27,Origine,CA,fr,imdbDisplay,NaN,0.0
10544656,tt1375666,28,Începutul,RO,NaN,imdbDisplay,NaN,0.0
10544657,tt1375666,29,Початок,UA,NaN,imdbDisplay,NaN,0.0
10544658,tt1375666,2,El origen,AR,NaN,imdbDisplay,NaN,0.0
10544659,tt1375666,30,Algus,EE,NaN,imdbDisplay,NaN,0.0
10544660,tt1375666,31,Chakravuyh,IN,hi,imdbDisplay,NaN,0.0
10544661,tt1375666,32,Počátek,CZ,NaN,imdbDisplay,NaN,0.0
10544662,tt1375666,33,Οι ονειροπαγιδευτές,GR,NaN,alternative,NaN,0.0
10544663,tt1375666,34,Eredet,HU,NaN,imdbDisplay,NaN,0.0
10544664,tt1375666,35,Inception,NaN,NaN,original,NaN,1.0
10544665,tt1375666,36,Генезис,BG,bg,imdbDisplay,NaN,0.0
10544666,tt1375666,37,Inception,AU,NaN,imdbDisplay,NaN,0.0
10544667,tt1375666,38,El origen,CO,NaN,imdbDisplay,NaN,0.0
10544668,tt1375666,39,Izvor,SI,NaN,imdbDisplay,NaN,0.0
10544669,tt1375666,3,Incepcja,PL,NaN,imdbDisplay,NaN,0.0
10544670,tt1375666,40,Jit Phi Khat Lôk,TH,th,imdbDisplay,NaN,0.0
10544671,tt1375666,41,Inception,DK,NaN,imdbDisplay,NaN,0.0
10544672,tt1375666,42,インセプション,JP,ja,imdbDisplay,NaN,0.0
10544673,tt1375666,43,Počiatok,SK,NaN,imdbDisplay,NaN,0.0
10544674,tt1375666,44,全面啟動,TW,NaN,imdbDisplay,NaN,0.0
10544675,tt1375666,45,Inception,IN,en,imdbDisplay,NaN,0.0
10544676,tt1375666,46,Inception,GR,NaN,imdbDisplay,NaN,0.0
10544677,tt1375666,47,Inception,XWW,en,imdbDisplay,NaN,0.0
10544678,tt1375666,48,El origen,MX,NaN,imdbDisplay,NaN,0.0
10544679,tt1375666,49,Početak,HR,NaN,imdbDisplay,NaN,0.0
10544680,tt1375666,4,Inception,CA,en,imdbDisplay,NaN,0.0
10544681,tt1375666,50,Başlangıç,TR,tr,imdbDisplay,NaN,0.0
10544682,tt1375666,51,A Origem,BR,NaN,imdbDisplay,NaN,0.0
10544683,tt1375666,52,El origen,CL,NaN,imdbDisplay,NaN,0.0
10544684,tt1375666,5,Inception,JP,NaN,imdbDisplay,NaN,0.0
10544685,tt1375666,6,盗梦空间,CN,cmn,imdbDisplay,NaN,0.0
10544686,tt1375666,7,Hat'hala,IL,he,imdbDisplay,NaN,0.0
10544687,tt1375666,8,El origen,UY,NaN,imdbDisplay,NaN,0.0
10544688,tt1375666,9,Inception,US,NaN,imdbDisplay,NaN,0.0

In [98]:
akas['language'].unique()

array([nan, 'ja', 'sv', 'en', 'tr', 'es', 'sr', 'cs', 'sk', 'fr', 'fa',
       'bg', 'ca', 'nl', 'qbn', 'pt', 'ru', 'uk', 'qbp', 'ar', 'cmn',
       'rn', 'bs', 'de', 'hi', 'yi', 'qbo', 'ka', 'hr', 'sl', 'he', 'tg',
       'kk', 'da', 'el', 'fi', 'it', 'be', 'gsw', 'gl', 'eu', 'yue', 'az',
       'ms', 'pl', 'mr', 'uz', 'th', 'ta', 'af', 'la', 'hy', 'ur', 'bn',
       'te', 'ml', 'lt', 'mk', 'et', 'lv', 'tl', 'id', 'gd', 'ga', 'cy',
       'qal', 'gu', 'kn', 'ro', 'hu', 'pa', 'wo', 'no', 'is', 'sq', 'vi',
       'zh', 'ps', 'zu', 'nqo', 'sd', 'xh', 'mi', 'ku', 'rm', 'su', 'jv',
       'prs', 'ky', 'fro', 'ko', 'haw', 'mn', 'lo', 'my', 'am', 'qac',
       'ne', 'myv', 'br', 'iu', 'st', 'tn', 'cr'], dtype=object)

In [99]:
#export df to csv for further usage
df.to_csv('datasetsmovies.csv')